{% extends 'layouts/base-client.html' %}
{% block title %}Send Command | Page {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{%  load return_int %}


{% block content %}
<body>
<link href="{% static 'assets/css/gaugeMeter.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/sendcommand-general.css' %}" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.4-build.3588/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>





    <script>
      let ip = '{{ ip }}'
    var data;
         google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', 0],
          ['CPU', 0],
          ['DISK', 0]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);
         setInterval(clientInfo, 2000);

        function  clientInfo(){
         var token ="{{ csrf_token }}";
              $.ajax({
            headers: {"X-CSRFToken": token},
            dataType: "JSON",
            url: '{% url   'client_info'  ip  %}',
            type: 'POST',
            data: {"ip":ip},
            success: function(datax){
                        data.setValue(0, 1, datax['ram']);
                         data.setValue(1, 1, datax['cpu']);
                             data.setValue(2, 1, datax['disk']);
                        chart.draw(data, options);
                        console.log(data['ram'])
                    }

            }
            )

        }
        }


    </script>
<style>
    .fixed-content {
    position: sticky;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width : 100em;
    height: 18em;
    word-wrap: break-word;


}
</style>
  <section class="content">
     <div class="container-fluid">
    <div class="row">
          <div class="col-md-4">
                 <div id="chart_div" ></div>
              <sub style="vertical-align:middle">If the system indicators do not work, install the dc package.</sub>
              <hr>
              <div>
                  {% for key,value in client_info.items %}
                  <p><b style="text-transform: uppercase">{{ key }}</b> : {{ value }}</p>
                  {% endfor %}
              </div>
              <hr>
               <div class="card card-primary">
                <h3 class="card-title">Active Service</h3>
              </div>
              <div class="col-md-12">
              <div class="fixed-content">
                    {% for log in systemctl %}
                  <div style="clear: both;">

                    <p>
                    <span style="float: left;"> {{ log.unit }} </span> <span style="float: right; text-transform: uppercase;">{{ log.sub }}</span>

                    </p>

                      </div>
                   {% endfor %}
              </div>
                  </div>
          </div>

        <div class="col-md-8">
<div class=" table">
      <div class="card card-primary">
                <h3 class="card-title">Disk Info</h3>
              </div>
    <table class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th> Name </th>

                <th> Size </th>

                <th> Type </th>



            </tr>
        </thead>
        <tbody>
        {% for disk in  client_disk_info.blockdevices %}
        <td> {{ disk.name }} </td>

        <td> {{ disk.sIze }} </td>

        <td> {{ disk.type }} </td>
        {%  for partition in disk.children %}
        <td> Disk Partitions
        <table>

        <tr>
            <td> Disk Name </td>
            <td> Disk Size </td>
            <td> Mount Point</td>
        </tr>
            <td> {{ partition.name }} </td>
            <td> {{ partition.sIze }}</td>
            <td> {{ partition.mountpoInt }}</td>
        </table>
            {%  endfor %}
        </td>

        </tbody>
        {% endfor %}
    </table>
     <div class="card card-primary">
                <h3 class="card-title">Network Info</h3>
              </div>
     </div>
             <table class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th> Name </th>

                <th> Flags </th>

                <th> Operstate </th>



            </tr>
        </thead>
        <tbody>
        {% for network in  system_network %}
        <td> {{ network.ifname }} </td>

        <td> {{ network.flags }} </td>

        <td> {{ network.operstate }} </td>
        {%  for addr in network.addr_info %}
        <td> Network Card
        <table>

        <tr>
            <td>  Interface </td>
            <td> Ip  </td>
            <td> Scope </td>
        </tr>
            <td> {{ addr.label}} </td>
            <td> {{ addr.local }}</td>
            <td> {{ addr.scope}}</td>
        </table>
            {%  endfor %}
        </td>

        </tbody>
        {% endfor %}
    </table>
        </div>
           </div>
              </div>





 <script>



    var  globalVariable;
    document.addEventListener('DOMContentLoaded', function() {
     const webSocketBridge = new channels.WebSocketBridge();


      webSocketBridge.connect('/notifications/');
      webSocketBridge.listen(function(action, stream) {
        console.log("RESPONSE:", action);
        if(action.event == "bashscript") {
            var point = action.point;
            var script_name = action.name;
             var token = '{{csrf_token}}';
            if (10 > point) {
                 window.alert('script safe for system');
                $.ajax({
                    headers: {"X-CSRFToken": token},
                    dataType: "JSON",
                    url: '{% url 'update' ip %}',
                    type: "POST",
                    data: {
                        'name': script_name,
                        'point': point,
                    },
                    success: function (data) {
                        if (data.is_update) {
                            alert(data.error_message);
                        }
                    }

                });
            } else if (point > 10) {
                window.alert('script is danger for system');
                $.ajax({
                    headers: {"X-CSRFToken": token},
                    dataType: "JSON",
                    url: '{% url 'delete' ip %}',
                    type: "POST",
                    data: {
                        'name': script_name,
                    },
                    success: function (data) {
                        if (data.is_delete) {
                            alert(data.error_message);
                            location.reload();
                        }
                    }
                });
            }
        }



      })
      document.ws = webSocketBridge; /* for debugging */
    })

    </script>
                      <script src="{% static 'assets/js/websocketbridge.js' %}" type="text/javascript"></script>





{% endblock content %}


{% block javascripts %}

{% endblock javascripts %}
